 {% extends "base.html" %} {% block content %} {% if user.is_authenticated %}

<div ng-app="TaskApp">


  <h2>Tasks

     <a  href="{% url 'create' %}"><span class="btn btn-warning">Add Task</span></a></h2>

  <div ng-controller="MyController">
    <div ng-repeat="task in tasks" class="ng-scope">
      {% verbatim %}
      <div class="alert alert-info" role="alert">
        <div class="form-check">
          <label class="form-check-label">

              <input  class="form-check-input" type="checkbox" ng-checked="{{task.checked}}" ng-click="updateTask(task)" >
              <span id="tasklist{{task.id}}" class="{{task.myClass}}"><strong>{{ task.title }}</strong>  <a href="#" class="alert-link">{{task.description}}</a></span>

            </label>
          <span class="btn btn-danger pull-right" ng-click="deleteTask(task)" ng-show="username == task.created_by">Delete</span>
          <span class="btn btn-info pull-right" ng-show="username == task.created_by" ng-click="editTask(task)">Edit</span>
        </div>
      </div>


      {% endverbatim %}
    </div>
  </div>

</div>
{%else%}
<p>Please sign in for createing and managing taskboard</p>
{% endif %} {% endblock content %}
